{% extends "home/base.html" %}
{% load static %}
{% block title %}
    <h2>Acerca de mi</h2>
{% endblock title %}
{% block content %}
   
    <p>
       Sebastian Carrizo
    </p>
    <p>
       Analista de finanzas
    </p>
    <p>
        
        Actualmente me encuentro dando mis primeros pasos en el mundo de la programacion. 
        
    </p>
    <p>
        
        Tomo este curso como el puntapie inical para seguir avanzando en el lenguaje python con el objetivo de mutar mi carrera profesional para el lado de DATA SCIENTIST.

        
    </p>
    <p>
        <a class="btn btn-secondary justify-content-around"
           href="{% url 'home:index' %}">Ir al inicio</a>
    </p>
{% endblock content %}
